<div>
  <img src="/assets/img/users.png" id="icon" alt="User Icon" />
</div>
<form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">
  <input type="text" #name="ngModel" [(ngModel)]="userService.selectedUser.name" name="name" placeholder="Name" required
    [ngClass]="{'invalid-textbox' :signUpForm.submitted && !name.valid }">
  <div *ngIf="signUpForm.submitted && !name.valid">
    <label class="validation-message">This field is required.</label>
  </div>
  <input type="text" #email="ngModel" [(ngModel)]="userService.selectedUser.email" name="email" placeholder="Email"
    required [pattern]="emailRegex" [ngClass]="{'invalid-textbox' :signUpForm.submitted && !email.valid }">
  <div *ngIf="signUpForm.submitted && email.errors">
    <label *ngIf="email.errors.required" class="validation-message">This field is required.</label>
    <label *ngIf="email.errors.pattern" class="validation-message">Invalid email address.</label>
  </div>
  <input type="password" #password="ngModel" [(ngModel)]="userService.selectedUser.password" name="password"
    placeholder="Password" minlength="4" required
    [ngClass]="{'invalid-textbox' :signUpForm.submitted && !password.valid }">
  <div *ngIf="signUpForm.submitted && password.errors">
    <label *ngIf="password.errors.required" class="validation-message">This field is required.</label>
    <label *ngIf="password.errors.minlength" class="validation-message">Enter atleast 4 characters.</label>
  </div>
  <!-- Success message -->
  <div class="alert-success" *ngIf="showSucessMessage">
    Saved successfully
  </div>

  <!-- Error message -->
  <div class="alert alert-danger" *ngIf="serverErrorMessages">
    {{serverErrorMessages}}
  </div>
  <input type="submit" value="Sign Up">
</form>